<nav>
  <div class="nav-wrapper blue darken-3">
    <a href="/" class="brand-logo">Robots Home</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/robots">Robots List</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </div>
</nav>