<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
      <header>
        <% include ./partials/header %>
      </header>
      <div class="container">
        <h4><%= title %></h4>
        <div class="divider"></div>
        <h5 class="center-align">About Details</h5>
        <ul class="collection">
          <li class="collection-item">Uses ExpressJS</li>
          <li class="collection-item">Uses Redis for data storage</li>
          <li class="collection-item">Uses Materialize for styles</li>
      </ul>
    </div>
  </body>
</html>