<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
      <header>
        <% include ./partials/header %>
      </header>
      <div class="container">
        <h4><%= title %></h4>
        <div class="divider"></div>
        <h5 class="center-align">Assignment Details</h5>
        <ul class="collection">
          <li class="collection-item">Show all robots names</li>
          <li class="collection-item">Add robots</li>
          <li class="collection-item">Delete robots</li>
          <li class="collection-item">Push to Github</li>
          <li class="collection-item">Style with Materialize</li>
      </ul>
    </div>
  </body>
</html>
