<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
      <header>
        <% include ./partials/header %>
      </header>
      <div class="container">
        <h4><%= title %></h4>
        <p>Assignment Details</p>
        <ul>
          <li>Show all robots names</li>
          <li>Add robots</li>
          <li>Delete robots</li>
          <li>Push to Github</li>
          <li>Style with Materialize</li>
      </ul>
    </div>
  </body>
</html>
