<!DOCTYPE html>
<html>
 <head>
 <% include ./partials/head %>
 </head>
 <body>
   <header>
     <% include ./partials/header %>
   </header>
   <div class="container">
    <h4 class='center'>Rick Baker Labs - Robots</h4>
    <hr />
        <div class='row'>
            <div class='col s12 m4'>
                <h5>Add Robot</h5>
                <form action='/robots' method='post'>
                    <input type='text' name='name' placeholder='name' />
                    <button class='btn btn-waves' type='submit'>Add</button>
                </form>
            </div>
        </div>
        <div>
            <table class='table col m8 s12'>
                <thead>
                    <th>Robot Name</th>
                    <th>Action</th>
                </thead>
                <tbody>
                    <% robots.forEach(function(robot) { %>
                    <% var url='/robots/delete/' + robot.replace(/ /g,'%20') %>
                    <tr>
                        <td> <%= robot %> </td>
                        <td> <a href=<%= url %> >Delete</a></td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
     </div>
   </body>
</html>